@media all and (min-width:1600px) {
    .site-header{
        height: 95px;
        transition: .7s;
    }
    .site-header .main-navigation {
        position: relative;
        width: auto;
        margin-left: auto;
    }
    .site-header .hamburger-menu {
        display: none;
    }
    .site-header .nav-list .nav-item{
        width: auto;
        margin-bottom: 0;
    }
    
    /* -----------footer----------- */
    .row-footer {
        justify-content: space-around;
    }
    
}
@media all and (min-width: 1200px) and (max-width: 1599px) {
    /* -------------navbar--------------------- */
    .site-header{
        height: 95px;
        transition: .7s;
    }
    .site-header .main-navigation {
        position: relative;
        width: auto;
        margin-left: auto;
        }
    .site-header .hamburger-menu {
        display: none;
    }
    .site-header .nav-list .nav-item{
        width: auto;
        margin-bottom: 0;
    }
    
     /* --------------- shop product-------------------- */
   .product-shop{
        width: 295px !important;
        margin: 10px;
    }
    .product{
        width: 85%;
        padding: 30px;
    }
    .price-product {
        font-size: 20px;
    }
    .title-product {
        font-size: 16px;
    }
    .unit-product {
        font-size: 12px;
    }

    /* --------foter------- */
    .row-footer{   
        justify-content: center;
    }
}
/* --------------------------tablet------------------------------- */
@media all and (min-width:901px) and (max-width:1199px){
    
    /* ----------nabar/ header--------------- */
     .site-header.toggle-onactive {
        background-color: #fff;
    }
    .site-header {
        height: 100px;
        transition: .7s;
    }
    .site-header .main-navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 100%);
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: .3s;
    }
    .site-header .main-navigation {
        align-items: flex-start;
    }
     .site-header.toggle-onactive .main-navigation {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
         z-index: 1;
     }
     .site-header .main-navigation .nav-menu {
        width: 100%;
        padding: 10px 20px 10px;
        max-height: calc(100vh - 80px);
        overflow: hidden auto;
    }
    .site-header .main-navigation {
        align-items: flex-start;
    }
    .site-header .nav-list .nav-item{
        margin-left: 20px;
    }
    .main-navigation .nav-item:not(:last-child) {
        margin-bottom: 14px;
    }

    /* ------------top wrapper--------------- */
    .top-wrapper-content{
        margin: 0 auto;
    }
    .top-wrapper-content {
        text-align: center;
        padding: 30px;
        width: 595px;
        height: calc(38vh - 100px);
        transform: translate(0%, 74%);
        position: relative;
        z-index: 0;
    }
    .top-wrapper-content h1 {
        line-height: 54px;
        font-size: 45px;
    }
    .top-wrapper-content p {
        line-height: 23px;
        font-size: 13px;
    }
    .top-wrapper-btn {
        margin-top: 20px;
    }
    .btn {
        padding: 13px 16px;
        line-height: 20px;
        font-size: 14px;
    }

    /* ----------content------------------ */
    .title-content {
        font-size: 37px;
        line-height: 60px;
    }
    .p-title-content {
        width: 60%;
        margin: 0 auto;
        font-size: 13px;
        line-height: 26px;
    }

    /* --------------- shop product-------------------- */
   .product-shop{
       width: 300px !important;
   }
   .product{
       width: 85%;
   }

    /* ---------------are you------------ */
    .row-are-you h3 {
        font-weight: bold;
        font-size: 31px;
        line-height: 36px;
    }
    .btn-are-you {
        padding: 14px 23px;
        line-height: 19px;
        font-size: 15px;
    }
    .row-are-you p {
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 25px;
    }

    /* -----------choose product----------- */
    .row-choose-product {
        justify-content: space-around;
        flex-flow: wrap;
    }

    /* ------testimonial--------------- */
    .row-testimonial {
        margin-top: 30px;
    }

    /* ------- subscribe-------- */
    .subscribe .email input {
        height: 4vh;
    }
    .subscribe .isi {
        padding-bottom: 91px;
    }

    /* ------footer------- */
    .row-footer{   
        justify-content: space-evenly;
    }
    .clarity-footer {
        width: 30%;
        padding: 75px 25px 58px;
    }
    .info-footer {
        width: 15%;
        padding: 75px 25px 58px;
    }
    .help-footer {
        width: 18%;
        padding: 75px 20px 58px;
    }
    .contact-footer {
        width: 24%;
        padding: 75px 33px 58px;
    }
    /* -------footer------------ */
    .row-footer hr {
        width: 90%;
    }
}


/* ---------------------Mobile------------------------------- */
@media all and (max-width:900px) {
    .rocket img {
        width: 55px;
    }
    .stiky-active{
        height: 93px !important;
    }
    .container {
        margin: 0 auto;
    }

    /* ----------nabar/ header--------------- */
    .site-header {
        height: 85px;
        transition: .7s;
    }
    .site-header .nav-logo img {
        width: 90px;
        height: 31px;
    }
    .site-header .nav-item:not([class*="btn-"]) a {
        font-size: 16px;
    }
    .hamburger-menu span {
        width: 80%;
    }   
    .hamburger-menu span:nth-child(2) {
        width: calc(100% - 20px);
    }
    .site-header.toggle-onactive {
        background-color: #fff;
    }
    .site-header .main-navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 100%);
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: .2s;
    }
    .site-header .main-navigation {
        align-items: flex-start;
    }
    .site-header.toggle-onactive .main-navigation {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
     }
    .site-header .main-navigation .nav-menu {
        width: 100%;
        padding: 10px 20px 10px;
        max-height: calc(100vh - 80px);
        overflow: hidden auto;
    }
    .site-header .nav-list .nav-item{
        margin-left: 20px;
    }
    .main-navigation .nav-item:not(:last-child) {
        margin-bottom: 14px;
    }

        /* -----------top wrapper---------------- */
    .top-wrapper{
        height: calc(100vh - 50px);
        overflow-y: auto;
        text-align: center;
    }
    .top-wrapper-content{
        margin: 0 auto;
        width: 309px;
        height: 194px;
        overflow-wrap: normal;
    }
    .top-wrapper-content h1{
        font-size: 28px;
        line-height: 40px; 
    }
    .top-wrapper-content p{
        font-size: 12px;
        line-height: 22px;
    }
    .top-wrapper-btn{
        margin-top: 18px;
    }
    .btn{
        margin-right: 18px;
        padding: 11px 12px;
        text-align: center;
        font-size: 11px;
        line-height: 14px;
    }

    /* ----------------------------content------------------------------- */
    .title-content{
        margin: 0 auto;
        width: 181px;
        overflow-wrap: normal;
        margin-top: 50px;
        font-size: 28px;
        line-height: 40px;
    }
    .p-title-content{
        margin: 0 auto;
        width: 286px;
        overflow-wrap: normal;
        font-size: 12px;
        line-height: 22px;
    }

    /* ---------------------------------row product---------------------- */
    .product-shop{    
        width: 238.96px !important;
        margin: 10px;
    }
    .product{
        width: 80%;
        height: 188px;
    }
    .product img{
        width: 85px;
    }
    .ket-product{
        margin:20px;
    }
    .title-product,
    .unit-product{
        text-align: left;
    }
    .title-product{
        font-size: 13px;
        line-height: 21px;
    }
    .unit-product{
        font-size: 11px;
        line-height: 18px;
    }
    .price-product{
        font-size: 14px;
    }
    .btn-cart{
        margin-top: 19px;
        width: 100%;
        height: 5vh;
        font-size: 11px;
        line-height: 16px;
    }

            /* ------are you------- */
    .row-are-you{
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .row-are-you h3{
        font-size: 20px;
        line-height: 36px;
    }
    .row-are-you p{
        margin: 0 auto 20px;
        width: 240px;
        font-size: 11px;
        line-height: 15px;
    }
    .young{
        width: 100%;
        height: 208px;
    }
    .elderly{
        width: 100%;
        height: 208px;
    }
    .row-are-you .are-you-content{
        padding: 36px 56px;    
        position: relative;
        z-index: 1;
    }
    .btn-are-you{
        border: 1px solid #FFFFFF;
        padding: 9px 26px;
        font-size: 11px;
        line-height: 16px;
    }

    /* ---------choose product--------- */
    .row-choose-product{
        display: flex;
        flex-direction: column;
    }
    .choose-product-item{
        width: 85%;
        height: 205px;
        margin: 29px auto 29px;
        text-align: center;
        box-shadow: 10px 10px 5px rgb(51 51 51 / 0.1);
    }
    .choose-product-item .cover{
        margin-top: 20px;
        margin-bottom: 26px;
        width: 60px;
        height: 60px;
    }
    .cover img{
        padding-top: 14px;
    }
    .choose-product-item h5{
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 27px;
    }
    .choose-product-item p{
        width: 235px;
        font-size: 12px;
        line-height: 22px;
    }

        /* ----------testimonial---------- */
    .row-testimonial {
        margin-top: 35px;
    }
    .subscribe .isi {
        padding-top: 40px;
    }
    .testimonial-content{
        width: 85%;
        padding: 10px 0px 10px;
    }
    .testimonial-content .ratting{
        margin: 0 auto 5px;
    }
    .ratting img{
        width: 11.99px;
        height: 10.53px;
    }
    .testimonial-content .testimonial-msg{
        margin: 0 auto 10px;
        width: 263px;
        font-size: 12px;
        line-height: 22px; 
    }
    .testimonial-content .user .name-user{
        font-size: 10px;
        line-height: 15px;
    }
    .testimonial-content .user .alamat-user{
        font-size: 8px;
    }

    /* -------subscribe------ */
    .subscribe{
        width: 100%;
        height: 402px;
        text-align: center;
    }
    .subscribe .title-content{
        width: 216px;
    }
    .subscribe .title-content-isi{
        margin: 10px auto;
        width: 248px;
        font-size: 12px;
        line-height: 22px;
    }
    .subscribe .email{
        width: 85%;
        height: 39.54px;
    }
    .subscribe .email img{
        width: 4%;
    }
    .subscribe .email input{
        width: 40vw;
        height: 3vh;
        font-size: 9px;
    }
    .subscribe .btn-email{
        width: 78px;
        height: 24.16px;
        border-radius: 5px;
        font-size: 9px;
    }

      /* ----------footer---------- */
    footer{
        text-align: center;
    }
   .row-footer{
        flex-direction: column;
    }
    footer .title-footer{
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .clarity-footer{
        width: 100%;
        padding: 66px 0 45px;
    }
    .clarity-footer .deskripsi{
        margin: 0 auto;
        width: 292px;
        font-size: 12px;
    }
    .info-footer{
        width: 100%;
        padding: 0;
    }
    .help-footer{
        width: 100%;
        padding: 35px 0 39px;
    }
    footer li{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 14px;
    }
    .contact-footer{
        padding: 0px 0 50px;
    }
    .contact-footer .isi{
        font-size: 12px;
    }
    .telepon, .email{
        justify-content: center;
    }
    .telepon .isi, .email .isi{
        margin-left: 5px;
    }
    .contact-footer .media{
        justify-content: center;
        margin-top: 21px;
        display: flex;
    }
    footer .sosmed{
        margin: 0px 10px;
    }
    footer .copyright{
        width: 100%;
        font-size: 11px;
    }

    /* --------------pop up------------- */
    .popup-heading {
        font-size: 14px;
    }
    .popup-header {
        padding: 20px;
    }
    .popup-close {
        padding: 1.5em;
    }
    .popup-content, .popup-footer {
        padding: 12px;
    }
    .popup-content {
        text-indent: 15px;
        font-size: 12px;
    }
    button.popup-toggle:not(.popup-close) {
        padding: 5px 10px;
        font-size: 12px;
    }
}
