*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* -----------------sroll-------------------- */
.rocket{
    position: fixed;
    opacity: 1;
    z-index: 12;
    right: 0;
    visibility: hidden;
    bottom: 0;
}
.rocket:hover{
    cursor:pointer;
}
.rocket img{
    width: 85px;
    padding: 9px;
}
.rocket-up-active{
    visibility: visible;
}
.rocket-up-active img{
    transition: 1s;
    transform: rotate(25deg);
}
.rocket-down-active{
    visibility: visible;
}
.rocket-down-active img{
    transition: 1s;
    transform: rotate(206deg);
}

.container{
    margin-left: 51px;
    margin-right: 51px;
}
/* -----------------Header------------------------------ */
.site-header{
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 6%);
}
.site-header>.navbar{
    display: flex;
    align-items: center;
    height: 100%;
}
.navbar{
    width: calc(100% - 40px);
    margin: 0 auto;
}
.site-header .nav-logo{
    margin: 23px;
}
.site-header .nav-logo img{
    width: 142px;
    height: 48px;
    object-fit: contain;
    background-size: contain;
    object-position: left;
}
.site-header .main-navigation {
    display: flex;
    align-items: center;
}
.site-header .nav-list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 0;
}
.site-header .nav-list .nav-item{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.site-header .nav-item:not([class*="btn-"]) a {
    color: #415123;
    font-size: 18px;
    font-weight: 500;
}
.site-header .nav-list a {
    width: 100%;
    padding-right: 20px;
    
}
.hamburger-menu {
    width: 50px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-left: auto;
}
.hamburger-menu span {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #415123;
    transform: rotate(0deg) translate(0px);
    transition: all .3s;
}
.hamburger-menu span:not(:last-child) {
    margin-bottom: 8px;
}

.hamburger-menu span:nth-child(2) {
    width: calc(100% - 10px);
}
.toggle-onactive .hamburger-menu span{
    background-color:#7a1d00;
}
.toggle-onactive .hamburger-menu span:first-child {
    transform: rotate(45deg) translate(8px, 8px);
}
.toggle-onactive .hamburger-menu span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}
.toggle-onactive .hamburger-menu span:last-child {
    transform: rotate(-45deg) translate(8px, -8px);
}
/* ----------sticky--------------------- */
.stiky-active{
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 10;    
    height: 110px !important;
}
.stiky-scroll{
    background-color: #fff9f2;
    opacity: 0.9;
}
/* -----------------------Top Wrapper--------------------- */
.top-wrapper{
    width: 100%;
    height: calc(100vh - 75px);
    background: url('../img/hero-banner.jpg') center/cover no-repeat;
    background-attachment: fixed;
}
.top-wrapper-content{
    padding-top: 150px;
    width: 530px;
    height: 272px;
    overflow-wrap: normal;
}
.top-wrapper-content h1{
    line-height: 60px;
    font-weight: bold;
    font-size: 48px;
    color: #333333;    
}
.top-wrapper-content p{
    line-height: 28px;
    font-weight: normal;
    font-size: 14px;
    color: #69803E;
}
.top-wrapper-btn{
    margin-top: 30px;
}
.btn{
    margin-right: 24px;
    padding: 16px 22px;
    box-sizing: border-box;
    border: 1px solid #415123;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #415123;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #415123;
}
/* ---------------------content------------------- */
main{
    text-align: center;
}
.title-content{
    margin-top: 90px;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    color: #333333;
}
.p-title-content{
    margin-bottom: 29px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
        /* ----product--- */
    .product-shop:not(:first-child) {
        margin-left: 50px;
    }
.row-product{
    display: flex;
    justify-content: space-evenly;
}
.product-shop{
    width: 370px !important;
    margin: 0;
    align-items: stretch;
    justify-content: center;
    box-shadow: 10px 10px 5px rgb(51 51 51 / 0.1);
    border-radius: 10px;  
    background-color: #FFFFFF;
}
.product{
    margin: 20px auto 0px;
    width: 332.5px;
    height: 298.85px;
    padding: 50px;
    border-radius: 10px;
    background-color: #FFF9F2;
    display: inline-block;
}
.ket-product{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.summery-product{
    text-align: left;
}
.title-product{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;;
}
.unit-product{
    margin-top: 10px;
    line-height: 21px;
    font-weight: normal;
    font-size: 14px;
    color:  #999999;
}
.price-product{
    line-height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
}
.btn-cart{
    margin-top: 30px;
    line-height: 24px;
    width: 100%;
    height: 55.42px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    background: #415123;
    color: #FFFFFF;
}
    /* ------------slick product------------ */
.slick-product {
    margin: 0 auto;
    width: 78%;
    background-color: #FFF9F2;
    padding: 30px;
}
.slick-prev:before, .slick-next:before {
    color: #415123 !important;
}
.slick-slide img {
    display: inline-block !important;
}
        /* ------are you------- */
.row-are-you{
    margin-top: 25px;
    width: 100%;
    display: flex;
}
.row-are-you h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
}
.row-are-you p{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}
.young{
    width: 50%;
    height: 355px;
    background: url('../img/young-people-crop.png') no-repeat center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
.elderly{
    width: 50%;
    height: 355px;
    background: url('../img/elderly-crop.png') no-repeat center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
.row-are-you .are-you-content{
    padding: 88px 110px;
    position: relative;
    z-index: 1;
}
.young::after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
    background-color: rgba(65, 81, 35, 0.62);
}
.elderly::after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
    background-color: rgba(65, 81, 35, 0.62);
}
.btn-are-you{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 16px 36px;
    display: inline-block;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.btn-are-you:hover{
    border-color:#333333 ;
    color: #333333;
    background-color: #415123;
}
    /* ---------choose product--------- */
.row-choose-product{
    display: flex;
    justify-content: space-evenly;
}
.choose-product-item{
    width: 360px;
    height: 240px;
    margin-top: 29px;
    margin-right: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(51 51 51 / 0.1);
    border-radius: 10px;
}
.choose-product-item .cover{
    margin-top: 23px;
    margin-bottom: 31px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: inline-block;
    background-color: #415123;
}
.cover img{
    padding-top: 18px;
}
.choose-product-item h5{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}
.choose-product-item p{
    margin: 0 auto;
    width: 312px;
    overflow-wrap: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
    /* ----------testimonial---------- */
.row-testimonial{
    margin-bottom: 110px;
 }
.testimonial-content{
    margin: 0 auto;
    width: 780px;
    padding: 37px 120px 35px;
    box-shadow: 10px 10px 5px rgb(51 51 51 / 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
}
.testimonial-content .ratting{
    margin: 0 auto 16px;
}
.testimonial-content .testimonial-msg{
    margin: 0 auto 16px;
    width: 555px;
    overflow-wrap: normal;
    line-height: 28px;
    font-weight: normal;    
    font-size: 18px;
    color: #333333;
}
.testimonial-content .user{
    display: flex;
    justify-content: center;
}
.testimonial-content .user .img-user{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #C4C4C4;
}
.bio-user{
    margin-top: 2px;
    text-align: left;
}
.user .bio-user .name-user{
    font-size: 12px;
}
.user .bio-user .alamat-user{
    font-size: 10px;
    color: #999999;
}
    /* -------subscribe------ */
.row-subscribe {
    margin-top: 100px;
}
.subscribe{
    width: 100%;
    background: url(../img/newsletter-crop.png) center;
    text-align: center;
    background-size: cover;
    position: relative;
}
.subscribe .isi{
    padding-top: 10px;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
}
.subscribe::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color:rgba(65, 81, 35, 0.86);
    position: absolute;
    bottom: 0;
}
.subscribe .title-content,
.subscribe .title-content-isi{
    color: #FFFFFF;
}
.subscribe .email{
    margin: 25px auto 0;
    width: 600px;
    height: 73px;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.subscribe .email img{
    width: 3%;
}
.subscribe .email input{
    width: 18vw;
    height: 7vh;
    border: 0px;
    font-size: 14px;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe .btn-email{
    width: 144px;
    height: 46.45px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: #415123;
    color: #FFFFFF;
}
    /* ----------footer---------- */
footer{
    top: 0;
    background-color:  #415123;
}
footer li {
    list-style: none;
}
.row-footer{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.row-footer hr {
    width: 85%;
    margin: 0 auto;
    border: 1px solid #69803E;
    background-color: #69803E;
}
footer .title-footer{
    font-weight: 500;
    font-size: 18px;
    color: #CBD8B4;
    margin-bottom: 32px;
}
.clarity-footer{
    width: 434px;
    padding: 75px 51px 58px;
}

.clarity-footer .deskripsi{
    width: 292px;
    overflow-wrap: normal;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}
.info-footer{
    padding: 75px 51px 58px;
    text-align: center;
}
.help-footer{
    padding: 75px 51px 58px;
    text-align: center;
}
footer li{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.contact-footer{
    padding: 75px 51px 58px;
    color: #FFFFFF;
}
.telepon, .email{
    margin: 5px 0;
    justify-content: flex-start;
    display: flex;
}
.telepon .isi{
    margin-left: 14px ;
}
.email .isi{
    margin-left: 19px ;
}
.contact-footer .isi{
    font-size: 14px;
    display: inline-block;
}
.contact-footer .media{
    margin-top: 21px;
    display: flex;
}
footer .sosmed{
    width: 27px;
    height: 27px;
    margin-right: 15px;
    border-radius: 100%;
    text-align: center;
    background-color: #FFFFFF;
}
footer .sosmed img{
    width: 40%;
}
hr{
    margin-left: 60px;
    margin-right: 60px;
    background-color: #69803E;
    border: 1px solid #69803E;
}
footer .copyright{
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 14px;
    color: #CBD8B4;
}
.copyright a {
    color: #CBD8B4;
}

/* ---------------pop up------------- */
/* PopUp ($popup) */
.popup {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.popup.popup-active {
    visibility: visible;
}
.popup-overlay {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.popup.popup-active .popup-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.popup-wrapper {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: #fff;
}

.popup-transition {
    transition: all 0.3s 0.12s;
    transform: translate(-50%, -45%);
    opacity: 0;
}
.popup.popup-active .popup-transition {
    transform: translate(-50%, -50%);
    opacity: 1;
}
.popup-content,.popup-footer {
    padding: 15px;
}
.popup-header {
    padding:25px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    color: #415123;
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.1em;
    color: #aaa;
    background: none;
    border: 0;
}
.popup-close:hover {
    color: #777;
}
.popup-heading {
    font-size: 18px;
    margin: 0;
}
.popup-content{
    text-indent: 20px;
    text-align: justify;
}
.popup-content p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #69803E;
    font-weight: 500;
}
.popup-footer {
    text-align: right;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
}
button.popup-toggle:not(.popup-close) {
    padding: 5px 16px;
    border: solid 1px #eee;
    font-weight: 600;
    border-radius: 35px;
    background-color: #eee;
    transition: 0.3s;
    color: #415123;
}
button.popup-toggle:hover {
    cursor: pointer;
}