*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    margin-left: 51px;
    margin-right: 51px;
}
  
/* -----------------Header------------------------------ */
header{
    height: 75px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
    color: #415123;
}
.nav {
    height: 75px;;
    width: 100%;
    background-color: #FFF;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    padding: 18px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > ul li a{
    color: #415123;
    display: block;
    padding: 0 8px;
    line-height: 64px;
    font-size: 18px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    
    
  }
  .nav > .nav-links > ul li:hover{
      border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }

 .nav .nav-links ul a.icon{
 margin-left: 80px;
 margin-right: 10px;
 }

 .nav .nav-links ul a i{
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }
/* -----------------------Top Wrapper--------------------- */
.top-wrapper{
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url('../img/hero-banner.jpg');
    background-size: cover;
    background-position: center;
}
.top-wrapper-content{
    padding-top: 150px;
    width: 530px;
    height: 272px;
    overflow-wrap: normal;
}
.top-wrapper-content h1{
    line-height: 60px;
    font-weight: bold;
    font-size: 48px;
    color: #333333;    
}
.top-wrapper-content p{
    line-height: 28px;
    font-weight: normal;
    font-size: 14px;
    color: #69803E;
}
.top-wrapper-btn{
    margin-top: 30px;
}
.btn{
    margin-right: 24px;
    padding: 16px 22px;
    box-sizing: border-box;
    border: 1px solid #415123;
    border-radius: 10px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #415123;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #415123;
}
/* ---------------------content------------------- */
.content{
    text-align: center;
}
.title-content{
    margin-top: 90px;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    color: #333333;
}
.p-title-content{
    margin-bottom: 29px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
        /* ----product--- */
.row-product{
    display: flex;
    justify-content: center;
}
.product-shop{
    width: 370px;
    margin: 0 10px;
    align-items: stretch;
    justify-content: center;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.05);
    border-radius: 10px;  
    background-color: #FFFFFF;
}
.product{
    margin: 20px auto 0px;
    width: 332.5px;
    height: 298.85px;
    padding: 50px;
    border-radius: 10px;
    background-color: #FFF9F2;
    display: inline-block;
}
.ket-product{
    margin: 20px;
}
.title-product,
.unit-product{
    text-align: left;
}
.title-product{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;;
}
.unit-product{
    margin-top: 10px;
    line-height: 21px;
    font-weight: normal;
    font-size: 14px;
    color:  #999999;
}
.price-product{
    margin-top: -42px;
    line-height: 36px;
    float: right;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
}
.btn-cart{
    margin-top: 30px;
    line-height: 24px;
    width: 100%;
    height: 55.42px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    background: #415123;
    color: #FFFFFF;
}
        /* ------are you------- */
.row-are-you{
    margin-top: 25px;
    width: 100%;
    display: flex;
}
.row-are-you h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
}
.row-are-you p{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}
.young{
    width: 50%;
    height: 355px;
    background: url('../img/young-people-crop.png') no-repeat center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
.elderly{
    width: 50%;
    height: 355px;
    background: url('../img/elderly-crop.png') no-repeat center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
.row-are-you .are-you-content{
    padding: 98px 110px;    
    position: relative;
    z-index: 1;
}
.young::after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
    background-color: rgba(65, 81, 35, 0.62);
}
.elderly::after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
    background-color: rgba(65, 81, 35, 0.62);
}
.btn-are-you{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 36px;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.btn-are-you:hover{
    border-color:#333333 ;
    color: #333333;
    background-color: #415123;
}
    /* ---------choose product--------- */
.row-choose-product{
    display: flex;
    justify-content: center;
}
.choose-product-item{
    width: 360px;
    height: 240px;
    margin-top: 29px;
    margin-right: 20px;
    text-align: center;
    box-shadow: 10px 32px 72px rgba(51, 51, 51,0.05);
    border-radius: 10px;
}
.choose-product-item .cover{
    margin-top: 23px;
    margin-bottom: 31px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: inline-block;
    background-color: #415123;
}
.cover img{
    padding-top: 18px;
}
.choose-product-item h5{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}
.choose-product-item p{
    margin: 0 auto;
    width: 312px;
    overflow-wrap: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
    /* ----------testimonial---------- */
.row-testimonial{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.testimonial-content{
    width: 780px;
    padding: 37px 120px 35px;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.05);
    border-radius: 10px;
    background-color: #FFFFFF;
}
.testimonial-content .ratting{
    margin: 0 auto 16px;
}
.testimonial-content .testimonial-msg{
    margin: 0 auto 16px;
    width: 555px;
    overflow-wrap: normal;
    line-height: 28px;
    font-weight: normal;    
    font-size: 18px;
    color: #333333;
}
.testimonial-content .user{
    width: 155px;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-content .user .img-user{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #C4C4C4;
    float: left;
}
.testimonial-content .user .name-user{
    padding-top: 3px;
    font-size: 12px;
}
.testimonial-content .user .alamat-user{
    font-size: 10px;
    color: #999999;
}

    /* -------subscribe------ */

.subscribe{
    width: 100%;
    background: url(../img/newsletter-crop.png) center;
    text-align: center;
    background-size: cover;
    position: relative;
}
.subscribe .isi{
    margin-top: 100px;
    padding-top: 64px;
    padding-bottom: 77px;
    position: relative;
    z-index: 1;
    
}
.subscribe::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color:rgba(65, 81, 35, 0.86);
    position: absolute;
    bottom: 0;
}
.subscribe .title-content,
.subscribe .title-content-isi{
    color: #FFFFFF;
}
.subscribe .email{
    margin: 26px auto 0;
    width: 600px;
    height: 73px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.subscribe .email img{
    float:left;
    margin-top: 28px;
    margin-left: 27px;
    width: 3%;
}
.subscribe .email input{
    width: 360px;
    height: 41px;
    margin-left: 10px;
    margin-top: 17px;
    border: 0px;
    font-size: 14px;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe .btn-email{
    width: 144px;
    height: 47px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: #415123;
    color: #FFFFFF;
}

    /* ----------footer---------- */

footer{
    top: 0;
    background-color:  #415123;
}
footer li {
    list-style: none;
}
.row-footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch
}
footer .title-footer{
    font-weight: 500;
    font-size: 18px;
    color: #CBD8B4;
    margin-bottom: 32px;
}
.clarity-footer{
    width: 434px;
    padding: 75px 51px 58px;
}
.clarity-footer .deskripsi{
    width: 292px;
    overflow-wrap: normal;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}
.info-footer{
    padding: 75px 51px 58px;
    text-align: center;
}
.help-footer{
    padding: 75px 51px 58px;
    text-align: center;
}
footer li{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.contact-footer{
    padding: 75px 51px 58px;
    color: #FFFFFF;
}

.telepon .isi{
    margin-left: 14px ;
}
.email .isi{
    margin-left: 19px ;
}
.contact-footer .isi{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
}
.contact-footer .media{
    margin-top: 21px;
    display: flex;
}
footer .sosmed{
    width: 27px;
    height: 27px;
    margin-right: 15px;
    border-radius: 100%;
    text-align: center;
    background-color: #FFFFFF;
}
footer .sosmed img{
    width: 40%;
}
hr{
    margin-left: 60px;
    margin-right: 60px;
    background-color: #69803E;
    border: 1px solid #69803E;
}
footer .copyright{
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #CBD8B4;
}
.copyright a {
    color: #CBD8B4;
}

/* ----------------------------------------------------------------- */
@media all and (max-width:900px) {

    /* ----------nabar/ header--------------- */
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 11px;
    }
    .nav > .nav-btn > label {
        width: 50px;
        height: 50px;
        padding: 13px;
        display: inline-block;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #fff;
    }
    .nav > .nav-btn > label > span {
        width: 25px;
        display: block;
        height: 10px;
        border-top: 2px solid #415123;
    }
    .nav > .nav-links {
        display: block;
        width: 100%;
        height: 0px;
        top: 75px;
        left: 0px;
        position: absolute;
        overflow-y: hidden;
        transition: all 0.3s ease-in;
        background-color: #fff;
    }
    .nav > .nav-links > ul li a {
        display: block;
        width: 100%;
        line-height: 33px;
    }

    /*   */
      .nav > .nav-links > ul li{
            display: block;
            margin-bottom: 20px;
            padding: 0;
            background-color: #fff;
      }
      .nav > .nav-links > ul li a{
            margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
            margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
         height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
        /* -----------top wrapper---------------- */

    .top-wrapper{
        height: calc(100vh - 50px);
        overflow-y: auto;
        text-align: center;
    }
    .top-wrapper-content{
        margin: 0 auto;
        padding-top: 150px;
        width: 309px;
        height: 194px;
        overflow-wrap: normal;
    }
    .top-wrapper-content h1{
        font-size: 28px;
        line-height: 40px; 
    }
    .top-wrapper-content p{
        font-size: 12px;
        line-height: 22px;
    }
    .top-wrapper-btn{
        margin-top: 18px;
    }
    .btn{
        margin-right: 18px;
        padding: 11px 28px;
        text-align: center;
        font-size: 11px;
        line-height: 16px;
    }
    /* ----------------------------content------------------------------- */
    .title-content{
        margin: 0 auto;
        width: 181px;
        overflow-wrap: normal;
        margin-top: 50px;
        font-size: 28px;
        line-height: 40px;
    }
    .p-title-content{
        margin: 0 auto;
        width: 286px;
        overflow-wrap: normal;
        font-size: 12px;
        line-height: 22px;
    }
    .row-product{
        display: flex;
        flex-direction: column;
    }
    .product-shop{
        width: 239px;
        margin: 0 auto 50px ;
        box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
    }
    .product{
        margin: 14px auto 0px;
        width: 210px;
        height: 188px;
        padding: 34px;
    }
    .product img{
        width:50%;
    }
    .ket-product{
        margin:14px;
    }
    .title-product,
    .unit-product{
        text-align: left;
    }
    .title-product{
        font-size: 14px;
        line-height: 21px;
    }
    .unit-product{
        font-size: 12px;
        line-height: 18px;
    }
    .price-product{
        margin-top: -42px;
        float: right;
        font-size: 14px;
        line-height: 21px;
    }
    .btn-cart{
        margin-top: 19px;
        width: 100%;
        height: 34.85px;
        font-size: 11px;
        line-height: 16px;
    }
            /* ------are you------- */
    .row-are-you{
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .row-are-you h3{
        font-size: 20px;
        line-height: 36px;
    }
    .row-are-you p{
        margin: 0 auto 20px;
        width: 240px;
        font-size: 11px;
        line-height: 15px;
    }
    .young{
        width: 100%;
        height: 208px;
    }
    .elderly{
        width: 100%;
        height: 208px;
    }
    .row-are-you .are-you-content{
        padding: 36px 56px;    
        position: relative;
        z-index: 1;
    }
    .btn-are-you{
        border: 1px solid #FFFFFF;
        padding: 9px 26px;
        font-size: 11px;
        line-height: 16px;
    }

    /* ---------choose product--------- */
    .row-choose-product{
        display: flex;
        flex-direction: column;
    }
    .choose-product-item{
        width: 324px;
        height: 205px;
        margin: 29px auto 0;
        text-align: center;
    }
    .choose-product-item .cover{
        margin-top: 20px;
        margin-bottom: 26px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: inline-block;
        background-color: #415123;
    }
    .cover img{
        padding-top: 14px;
    }
    .choose-product-item h5{
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 27px;
    }
    .choose-product-item p{
        margin: 0 auto;
        width: 235px;
        font-size: 12px;
        line-height: 22px;
    }
        /* ----------testimonial---------- */
    .row-testimonial{
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }
    .testimonial-content{
        width: 325px;
        padding: 37px 25px 40px;
    }
    .testimonial-content .ratting{
        margin: 0 auto 5px;
    }
    .ratting img{
        width: 11.99px;
        height: 10.53px;
    }
    .testimonial-content .testimonial-msg{
        margin: 0 auto 10px;
        width: 275px; 
        font-size: 12px;
        line-height: 22px;  
    }
    .testimonial-content .user{
        width: 155px;
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial-content .user .img-user{
        width: 40px;
        height: 40px;
        margin-right: 0;
        border-radius: 100%;
    }
    .testimonial-content .user .name-user{
        padding-top: 7px;
        font-size: 10px;
        line-height: 15px;
    }
    .testimonial-content .user .alamat-user{
        font-size: 8px;
        line-height: 12px;
    }
    /* -------subscribe------ */

    .subscribe{
        width: 100%;
        height: 402px;
        text-align: center;
    }
    .subscribe .title-content{
        width: 216px;
    }
    .subscribe .title-content-isi{
        margin: 10px auto;
        width: 248px;
        font-size: 12px;
        line-height: 22px;
    }
    .subscribe .email{
        width: 324.99px;
        height: 39.54px;
        border-radius: 8px;
        background-color: #FFFFFF;
    }
    .subscribe .email img{
        float: left;
        margin-top: 15px;
        margin-left: 19px;
        width: 4%;
    }
    .subscribe .email input{
        margin-top: 13px;
        width: 112px;
        height: 15px;
        font-size: 9px;
        line-height: 13px;
        float: left;
    }
    .subscribe .btn-email{
        margin: 7px;
        width: 78px;
        height: 25.16px;
        border-radius: 5px;
        font-size: 9px;
        line-height: 13px;
        float: right;
    }
      /* ----------footer---------- */
    footer{
        text-align: center;
    }
   .row-footer{
        flex-direction: column;
    }
    footer .title-footer{
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .clarity-footer{
        margin: 0 auto;
        width: 374px;
        padding: 66px 0 45px;
    }
    .clarity-footer .deskripsi{
        margin: 0 auto;
        width: 292px;
        font-size: 12px;
    }
    .info-footer{
        padding: 0px 0 0px;
    }
    .help-footer{
        padding: 35px 0 39px;
    }
    footer li{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 14px;
    }
    .contact-footer{
        padding: 0px 0 50px;
    }
    .contact-footer .isi{
        font-size: 12px;
        line-height: 18px;
    }
    .contact-footer .media{
        justify-content: center;
        margin-top: 21px;
        display: flex;
    }
    footer .sosmed{
        width: 27px;
        height: 27px;
        margin-right: 15px;
        border-radius: 100%;
        text-align: center;
        background-color: #FFFFFF;
    }
    hr{
        margin-left: 60px;
        margin-right: 60px;
        background-color: #69803E;
        border: 1px solid #69803E;
    }
    footer .copyright{
        padding-top: 21px;
        padding-bottom: 21px;
        text-align: center;
        font-size: 11px;
        line-height: 16px;
    }
    .copyright a {
        color: #CBD8B4;
    }
}