*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    margin-left: 51px;
    margin-right: 51px;
}
/* -----------------Header------------------------------ */
header{
    top: 0;
    height: 75px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
    color: #415123;
}
.logo-header{
    padding: 18px;
    float: left;
}
.list-header{
    padding: 22px;
    float: right;
}
.list-header li{
    margin-right: 25px;
    float: left;
    line-height: 27px;
}
/* -----------------------Top Wrapper--------------------- */
.top-wrapper{
    width: 100%;
    height: 650px;
    background-image: url('../img/hero-banner.jpg');
    background-size: cover;
    background-position: center;
}

.top-wrapper-content{
    padding-top: 150px;
    width: 530px;
    height: 272px;
    overflow-wrap: normal;
}

.top-wrapper-content h1{
    line-height: 60px;
    font-weight: bold;
    font-size: 48px;
    color: #333333;    
}

.top-wrapper-content p{
    line-height: 28px;
    font-weight: normal;
    font-size: 14px;
    color: #69803E;
}
.top-wrapper-btn{
    margin-top: 30px;
}

.btn{
    margin-right: 24px;
    padding: 16px 22px;
    box-sizing: border-box;
    border: 1px solid #415123;
    border-radius: 10px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #415123;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #415123;
}
/* ---------------------content------------------- */
.content{
    text-align: center;
}
.title-content{
    margin-top: 90px;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    color: #333333;
}
.p-title-content{
    margin-bottom: 29px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
        /* ----product--- */
.row-product{
    display: flex;
    justify-content: center;
}
.product-shop{
    width: 370px;
    margin: 0 10px;
    align-items: stretch;
    justify-content: center;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.05);
    border-radius: 10px;  
    background-color: #FFFFFF;
}
.product{
    margin: 20px auto 0px;
    width: 332.5px;
    height: 298.85px;
    padding: 50px;
    border-radius: 10px;
    background-color: #FFF9F2;
    display: inline-block;
}
.ket-product{
    margin: 20px;
}
.title-product,
.unit-product{
    text-align: left;
}
.title-product{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;;
}
.unit-product{
    margin-top: 10px;
    line-height: 21px;
    font-weight: normal;
    font-size: 14px;
    color:  #999999;
}
.price-product{
    margin-top: -42px;
    line-height: 36px;
    float: right;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
}
.btn-cart{
    margin-top: 30px;
    line-height: 24px;
    width: 100%;
    height: 55.42px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    background: #415123;
    color: #FFFFFF;
}
        /* ------are you------- */
.row-are-you{
    margin-top: 25px;
    width: 100%;
    display: flex;
}
.row-are-you h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
}
.row-are-you p{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}
.young{
    width: 50%;
    height: 355px;
    background: url('../img/young-people-crop.png') no-repeat center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
.elderly{
    width: 50%;
    height: 355px;
    background: url('../img/elderly-crop.png') no-repeat center;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}
.row-are-you
.are-you-content{
    padding: 98px 110px;    
    position: relative;
    z-index: 1;
}
.young::after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
    background-color: rgba(65, 81, 35, 0.62);
}
.elderly::after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
    background-color: rgba(65, 81, 35, 0.62);
}
.btn-are-you{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 36px;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.btn-are-you:hover{
    border-color:#333333 ;
    color: #333333;
    background-color: #415123;
}
    /* ---------choose product--------- */
.row-choose-product{
    display: flex;
    justify-content: center;
}
.choose-product-item{
    width: 360px;
    height: 240px;
    margin-top: 29px;
    margin-right: 20px;
    text-align: center;
    box-shadow: 10px 32px 72px rgba(51, 51, 51,0.05);
    border-radius: 10px;
}
.choose-product-item .cover{
    margin-top: 23px;
    margin-bottom: 31px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: inline-block;
    background-color: #415123;
}
.cover img{
    padding-top: 18px;
}
.choose-product-item h5{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}
.choose-product-item p{
    margin: 0 auto;
    width: 312px;
    overflow-wrap: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}

    /* ----------testimonial---------- */
.row-testimonial{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.testimonial-content{
    width: 780px;
    padding: 37px 120px 35px;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.05);
    border-radius: 10px;
    background-color: #FFFFFF;
}
.testimonial-content .ratting{
    margin: 0 auto 16px;
}
.testimonial-content .testimonial-msg{
    margin: 0 auto 16px;
    width: 555px;
    overflow-wrap: normal;
    line-height: 28px;
    font-weight: normal;    
    font-size: 18px;
    color: #333333;
}
.testimonial-content .user{
    width: 155px;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-content .user .img-user{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #C4C4C4;
    margin-right: 10px;
    float: left;
}
.testimonial-content .user .name-user{
    padding-top: 3px;
    font-size: 12px;
}
.testimonial-content .user .alamat-user{
    font-size: 10px;
    color: #999999;
}
